/* === BREX, Hillel Frontend Course Final Project === */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "media.css";

/* === Used Variables === */
$global_font: "Roboto";
$accent_color: #F46A35;
$btn_border_radius: 10px;
$btn_padding: 13px 32px;
/* === Used Variables END === */

/* === Accordion Variables === */
$bg: #fff;
$text: #212121;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #f46c0c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $global_font;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header .wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px;

    > a {
        margin-right: 30px;
    }

    nav {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            gap: 38px;

            li {
                list-style: none;
            }
        }
    }
    span {
        display: flex;

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;

                &:last-of-type {
                    background: $accent_color;
                    border-radius: 10px;
                    padding: 7px 26px;
                    margin-left: 30px;
                }
            }
        }
    }
    nav ul li a, span ul li a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #212121;
    }
}

.brex_offer_and_banner .wrapper > div {
    display: flex;
    justify-content: space-between;
    
    .offer {
        min-width: 600px;

            h2 {
                font-family: $global_font;
                font-weight: 400;
                font-size: 40px;
                line-height: 130%;
                letter-spacing: 0.04em;
                color: #212121;
                padding: 76px 0 0 48px;
                max-width: 494px;
                margin-bottom: 23px;
            }
            div {
                display: flex;
                padding-left: 48px;
                gap: 8px;
                margin-bottom: 63px;

                    .primary {
                        background-color: $accent_color;
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                            a {
                                color: #fff;
                            }
                    }
                    .secondary {
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        background-color: #fff;
                            a {
                                color: #212121;
                            }
                    }
                }
            .offer_description {
                display: flex;
                flex-direction: column;
                padding-top: 33px;
                padding-bottom: 31px;
                margin-bottom: inherit;

                    h4 {
                        margin-bottom: 9px;
                    }

                    p {
                        max-width: 456px;
                        font-family: $global_font;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 143%;
                        letter-spacing: 0.02em;
                        color: #212121;
                        margin-right: 104px;
                        margin-bottom: 7px;
                    }
                    
                    a {
                        color: $accent_color;
                    }
            }
    }
    .banner {
        max-width: 600px;

        &::after {
            content: url(../img/jpg/banner.jpg);
            display: block;
            /*width: 100%;*/
        }
    }
}

.solutions .wrapper {
    h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #212121;
        margin-top: 160px;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 168%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #212121;
        margin-bottom: 48px;
    }
}

.inner_wrapper {
    display: flex;
    margin: 16px 16px 72px 16px;
    justify-content: center;

    .enterprise {
        &::after {
            content: url(../img/jpg/banner_brex_for_enterprise.jpg);
            display: block;
        }
        > div {
            h4, p, a {
                color: #fff;
            }
        }
    }
    .startup {
        &::after {
            content: url(../img/jpg/banner_brex_for_startup.jpg);
            display: block;
        }
        > div {
            h4, p, a {
                color: #212121;
            }
        }
    }
    .enterprise, .startup {
        position: relative;
        > div {
            position: absolute;
            max-width: 600px;
            text-align: center;
            left: 52px;
            
            h4 {
                font-size: 32px;
                line-height: 125%;        
                margin-top: 48px;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
                line-height: 150%;
                max-width: 476px;
                margin-bottom: 35px;
            }
            h4, p {
                font-weight: 400;
                letter-spacing: 0.02em;
                text-align: center;
            }
            span {
                text-align: center;
                position: inherit;
                a {
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                }
            }
        }
    }
}

.limits .wrapper {
    background-color: #f9f9f9;
    padding: 80px 48px;

    .limits_offer_and_form {
        display: flex;
        flex-direction: column;
        
            .limits_offer {
                display: flex;
                flex-direction: column;
                max-width: 920px;
                h3, p {
                    font-weight: 400;
                    color: #212121;
                }
                h3 {
                    font-size: 36px;
                    line-height: 144%;
                    letter-spacing: 0.04em;
                }
                p {
                    
                    font-size: 20px;
                    line-height: 160%;
                    letter-spacing: 0.02em;
                    max-width: 850px;
                    margin-bottom: 12px;
                }
                span {
                    border: 1px solid #212121;
                    border-radius: $btn_border_radius;
                    padding: 13px 21px;
                    max-width: 203px;
                    margin-bottom: 40px;
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 157%;
                        color: #212121;
                    }
                }
            }
            .limits_form {
                background-color: #fff;
                width: 100%;
                border: 1px solid #21212120;
                border-radius: 12px;
                h3 {
                    font-weight: 600;
                    font-size: 32px;
                    text-align: center;
                    padding-top: 104px;
                }
                form {
                    margin: 30px 212px 106px 265px;
                    /*border: #F46A35 1px solid;*/
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        
                        img {
                        border-radius: 50%;
                        width: 135px;
                        }
                        span {
                            font-size: 14px;
                            font-weight: 600;
                            color: #212121;
                            text-align: center;
                            padding: 16px 0 4px 0px;
                            
                            &:last-of-type {
                                font-size: 12px;
                                color: #21212150;
                                padding-top: inherit;
                            }
                        }
                        &:last-of-type {
                            .cover {
                                position: relative;
                                &::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_travel.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(2)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_offsites.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(3)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_procurement.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(4)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_stipendis.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:last-child::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_budget.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                input {
                                    min-width: 416px;
                                    max-width: inherit;
                                    padding: 12px 18px 12px 48px;
                                    border: 1px solid #c0c0c030;
                                    margin-bottom: 8px;
                                    border-radius: 8px;
                                        // &:last-of-type {
                                        //     margin-bottom: inherit;
                                        // }
                                        &:hover {
                                            border: 1px solid #21212170;
                                            box-shadow: 4px 4px 4px #21212130;
                                        }
                                        &:focus {
                                            border: 1px solid $accent_color;
                                            box-shadow: 4px 4px 4px $accent_color;
                                        }
                                        &::placeholder {
                                            margin-left: 100px;
                                        }
                                    }
                            }
                            
                        }
                    }
                }
            }
    }
}

.lower_slider_cover {
    display: flex;
    justify-content: center;
    .lower_slider_item {
        text-align: center;
        margin: 60px 0 32px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            max-width: 673px;
            margin: 49px 0 24px 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 109%;
        }
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.02em;
        }
    }
    // .owl-carousel .owl-carousel-2 {
    //     padding: 80px 0px;
    //     .owl-dots {
    //         padding-top: 106px;
    //     }
    // }
}

.how_2_use {
    .wrapper {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-weight: 400;
                font-size: 40px;
                line-height: 130%;
                letter-spacing: 0.04em;
                text-align: center;
                color: #212121;
                max-width: 687px;
                display: block;
                margin-bottom: 80px;
            }
            .company_cards {
                display: flex;
                flex-direction: row;
                gap: 64px;
                .co_card {
                    max-width: 325px;
                    p {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #212121;
                        padding: 26px 0 22px 0;
                    }
                    a {
                        color: $accent_color;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }
            .company_list {
                display: flex;
                flex-direction: row;
                max-width: 1100px;
                margin: 81px 49px 161px;
                span {
                    display: flex;
                    width: 275px;
                    padding: 40px;
                    height: 200px;
                    justify-content: center;
                    border: 1px solid #21212115;
                    align-items: center;
                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}

.can_do .wrapper > div {
    display: flex;
    justify-content: space-between;
    background-color: #c0c0c015;
    
    .offer {
        min-width: 600px;

            h2 {
                font-family: $global_font;
                font-weight: 400;
                font-size: 40px;
                line-height: 130%;
                letter-spacing: 0.04em;
                color: #212121;
                padding: 76px 0 0 48px;
                max-width: 494px;
                margin-bottom: 23px;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                letter-spacing: 0.02em;
                color: #212121;
                max-width: 434px;
                padding-left: 48px;
                margin-bottom: 20px;
            }
            div {
                display: flex;
                padding-left: 48px;
                gap: 16px;
                margin-bottom: 63px;

                    .primary {
                        background-color: $accent_color;
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                            a {
                                color: #fff;
                            }
                    }
                    .secondary {
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        background-color: #fff;
                            a {
                                color: #212121;
                            }
                    }
                }
            
    }
    .banner {
        max-width: 600px;

        &::after {
            content: url(../img/png/banner_lower.png);
            display: block;
            /*width: 100%;*/
        }
    }
}

footer .wrapper {
    background-color: #171717;
    .footer_inner_cover {
        display: flex;
        flex-direction: column;
        padding: 122px 53px 121px 48px;
        .upper_part {
            display: flex;
            gap: 200px;
            margin-bottom: 100px;
            .footer_logo {
                &::before {
                    content: url(../img/svg/footer_logo_BREX.svg);
                    display: block;
                }
            }
            div {
                span, ul li a {
                    font-weight: 400;
                }
                span {
                    color: #fff;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.02em;
                }
                ul li {
                    list-style: none;
                }
                ul li a {
                    font-size: 14px;
                    line-height: 157%;
                    color: #bcbdbd;
                }
            }
        }
        .middle_part_socials {
            display: flex;
            margin-bottom: 132px;
            align-items: center;
            gap: 192px;
            .networks {
                display: flex;
                gap: 8px;
                .fb, .youtube, .insta, .linkedin, .twitter {
                    border: 1px solid #c0c0c040;
                    border-radius: 4px;
                    padding: 4px;
                    align-self: center;
                }
                .fb {
                    &::before {
                        content: url(../img/svg/socials_fb.svg);
                        display: block;
                        width: 20px;
                        padding: 4px 0 0 4px;
                    }
                }
                .youtube {
                    &::before {
                        content: url(../img/svg/socials_youtube.svg);
                        display: block;
                        width: 20px;
                        padding: 4px 0 0 4px;
                    }
                }
                .insta {
                    &::before {
                        content: url(../img/svg/socials_instagram.svg);
                        display: block;
                        width: 20px;
                        padding: 4px 0 0 4px;
                    }
                }
                .linkedin {
                    &::before {
                        content: url(../img/svg/socials_linkedin.svg);
                        display: block;
                        width: 20px;
                        padding: 4px 0 0 4px;
                    }
                }
                .twitter {
                    &::before {
                        content: url(../img/svg/socials_twitter.svg);
                        display: block;
                        width: 20px;
                        padding: 4px 0 0 4px;
                    }
                }
            }
            .stores {
                margin-top: 4px;
                img {margin-right: 24px;}
            }
        }
        .lower_part {
            p, span {
                font-weight: 400;
                font-size: 12px;
                line-height: 133%;
                letter-spacing: 0.02em;
            }
            p {
                color: #bcbdbd;
                margin-bottom: 8px;
            }
            span {
                color: #fff;
            }
        }
    }
}

.owl-carousel {
    padding: 80px 0 48px 0;
    width: 80%;
    margin: auto;
    .owl-dots {
        text-align: center;
        padding-top: 32px;      
        .owl-dot {
            span {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #21212150;
                margin-right: 12px;
            }
            &.active {
                span {
                    background-color: $accent_color;
                }
            }
        }
    }
    .owl-item {
        display: flex;
        justify-content: center;
        img {
            display: block;
            width: auto;
        }
    }
    .owl-nav {
        button.owl-prev {
            border: 1px solid $accent_color;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 64px;
            left: -60px;
            width: 40px;
            margin: 8px;
            span {
                font-size: 32px;
                text-align: center;
            }
        }
        button.owl-next {
            border: 1px solid $accent_color;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 64px;
            right: -60px;
            width: 40px;
            margin: 8px;
            span {
                font-size: 32px;
                text-align: center;
            }
        }
    }
}

.FAQ {
    .wrapper {
        background-color: #faebd7;
        margin-bottom: 80px;
    }
}

/* Accordion */
.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordion {
    .accordion-item {
      border-bottom: 1px solid $gray;
      background-color: white;
      padding: 0 12px;
      button[aria-expanded='true'] {
        border-bottom: 1px solid $accent_color;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: $text;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: $blue;
        &::after {
          cursor: pointer;
          color: $blue;
          border: 1px solid $blue;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: $blue;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 30em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
      ul {
        margin-bottom: 24px;
        li {
            padding: 8px;
            span {
                font-weight: 600;
            }
        }
      }
    }
  }

