/* === BREX, Hillel Frontend Course Final Project === */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* === Used Variables === */
/* === Used Variables END === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

header .wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 24px;
}
header .wrapper > div > a {
  margin-right: 30px;
}
header .wrapper > div nav {
  display: flex;
  align-items: center;
}
header .wrapper > div nav ul {
  display: flex;
  gap: 38px;
}
header .wrapper > div nav ul li {
  list-style: none;
}
header .wrapper > div span {
  display: flex;
}
header .wrapper > div span ul {
  display: flex;
  align-items: center;
}
header .wrapper > div span ul li {
  list-style: none;
}
header .wrapper > div span ul li:last-of-type {
  background: #F46A35;
  border-radius: 10px;
  padding: 7px 26px;
  margin-left: 30px;
}
header .wrapper > div nav ul li a, header .wrapper > div span ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
}

.brex_offer_and_banner .wrapper > div {
  display: flex;
  justify-content: space-between;
}
.brex_offer_and_banner .wrapper > div .offer {
  min-width: 600px;
}
.brex_offer_and_banner .wrapper > div .offer h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 76px 0 0 48px;
  max-width: 494px;
  margin-bottom: 23px;
}
.brex_offer_and_banner .wrapper > div .offer div {
  display: flex;
  padding-left: 48px;
  gap: 8px;
  margin-bottom: 63px;
}
.brex_offer_and_banner .wrapper > div .offer div .primary {
  background-color: #F46A35;
  border-radius: 10px;
  padding: 13px 32px;
}
.brex_offer_and_banner .wrapper > div .offer div .primary a {
  color: #fff;
}
.brex_offer_and_banner .wrapper > div .offer div .secondary {
  border-radius: 10px;
  padding: 13px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.brex_offer_and_banner .wrapper > div .offer div .secondary a {
  color: #212121;
}
.brex_offer_and_banner .wrapper > div .offer .offer_description {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 31px;
  margin-bottom: inherit;
}
.brex_offer_and_banner .wrapper > div .offer .offer_description h4 {
  margin-bottom: 9px;
}
.brex_offer_and_banner .wrapper > div .offer .offer_description p {
  max-width: 456px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 104px;
  margin-bottom: 7px;
}
.brex_offer_and_banner .wrapper > div .offer .offer_description a {
  color: #F46A35;
}
.brex_offer_and_banner .wrapper > div .banner {
  max-width: 600px;
}
.brex_offer_and_banner .wrapper > div .banner::after {
  content: url(../img/jpg/banner.jpg);
  display: block;
  /*width: 100%;*/
}

.solutions .wrapper h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #212121;
  margin-top: 160px;
  margin-bottom: 8px;
}
.solutions .wrapper p {
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  margin-bottom: 48px;
}

.inner_wrapper {
  display: flex;
  margin: 16px 16px 72px 16px;
  justify-content: center;
}
.inner_wrapper .enterprise::after {
  content: url(../img/jpg/banner_brex_for_enterprise.jpg);
  display: block;
}
.inner_wrapper .enterprise > div h4, .inner_wrapper .enterprise > div p, .inner_wrapper .enterprise > div a {
  color: #fff;
}
.inner_wrapper .startup::after {
  content: url(../img/jpg/banner_brex_for_startup.jpg);
  display: block;
}
.inner_wrapper .startup > div h4, .inner_wrapper .startup > div p, .inner_wrapper .startup > div a {
  color: #212121;
}
.inner_wrapper .enterprise, .inner_wrapper .startup {
  position: relative;
}
.inner_wrapper .enterprise > div, .inner_wrapper .startup > div {
  position: absolute;
  max-width: 600px;
  text-align: center;
  left: 52px;
}
.inner_wrapper .enterprise > div h4, .inner_wrapper .startup > div h4 {
  font-size: 32px;
  line-height: 125%;
  margin-top: 48px;
  margin-bottom: 10px;
}
.inner_wrapper .enterprise > div p, .inner_wrapper .startup > div p {
  font-size: 16px;
  line-height: 150%;
  max-width: 476px;
  margin-bottom: 35px;
}
.inner_wrapper .enterprise > div h4, .inner_wrapper .enterprise > div p, .inner_wrapper .startup > div h4, .inner_wrapper .startup > div p {
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}
.inner_wrapper .enterprise > div span, .inner_wrapper .startup > div span {
  text-align: center;
  position: inherit;
}
.inner_wrapper .enterprise > div span a, .inner_wrapper .startup > div span a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
}

.limits .wrapper {
  background-color: #f9f9f9;
  padding: 80px 48px;
}
.limits .wrapper .limits_offer_and_form {
  display: flex;
  flex-direction: column;
}
.limits .wrapper .limits_offer_and_form .limits_offer {
  display: flex;
  flex-direction: column;
  max-width: 920px;
}
.limits .wrapper .limits_offer_and_form .limits_offer h3, .limits .wrapper .limits_offer_and_form .limits_offer p {
  font-weight: 400;
  color: #212121;
}
.limits .wrapper .limits_offer_and_form .limits_offer h3 {
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
}
.limits .wrapper .limits_offer_and_form .limits_offer p {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  max-width: 850px;
  margin-bottom: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_offer span {
  border: 1px solid #212121;
  border-radius: 10px;
  padding: 13px 21px;
  max-width: 203px;
  margin-bottom: 40px;
}
.limits .wrapper .limits_offer_and_form .limits_offer span a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121;
}
.limits .wrapper .limits_offer_and_form .limits_form {
  background-color: #fff;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  border-radius: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form h3 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  padding-top: 104px;
}
.limits .wrapper .limits_offer_and_form .limits_form form {
  margin: 30px 212px 106px 265px;
  /*border: #F46A35 1px solid;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.limits .wrapper .limits_offer_and_form .limits_form form div {
  display: flex;
  flex-direction: column;
}
.limits .wrapper .limits_offer_and_form .limits_form form div img {
  border-radius: 50%;
  width: 135px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div span {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
  text-align: center;
  padding: 16px 0 4px 0px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div span:last-of-type {
  font-size: 12px;
  color: rgba(33, 33, 33, 0.3137254902);
  padding-top: inherit;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover {
  position: relative;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover::before {
  position: absolute;
  pointer-events: none;
  content: url(../img/svg/form_icon_travel.svg);
  width: 16px;
  height: 16px;
  display: block;
  top: 8px;
  left: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover:nth-child(2)::before {
  position: absolute;
  pointer-events: none;
  content: url(../img/svg/form_icon_offsites.svg);
  width: 16px;
  height: 16px;
  display: block;
  top: 8px;
  left: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover:nth-child(3)::before {
  position: absolute;
  pointer-events: none;
  content: url(../img/svg/form_icon_procurement.svg);
  width: 16px;
  height: 16px;
  display: block;
  top: 8px;
  left: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover:nth-child(4)::before {
  position: absolute;
  pointer-events: none;
  content: url(../img/svg/form_icon_stipendis.svg);
  width: 16px;
  height: 16px;
  display: block;
  top: 8px;
  left: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover:last-child::before {
  position: absolute;
  pointer-events: none;
  content: url(../img/svg/form_icon_budget.svg);
  width: 16px;
  height: 16px;
  display: block;
  top: 8px;
  left: 12px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover input {
  min-width: 416px;
  max-width: inherit;
  padding: 12px 18px 12px 48px;
  border: 1px solid rgba(192, 192, 192, 0.1882352941);
  margin-bottom: 8px;
  border-radius: 8px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover input:hover {
  border: 1px solid rgba(33, 33, 33, 0.4392156863);
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1882352941);
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover input:focus {
  border: 1px solid #F46A35;
  box-shadow: 4px 4px 4px #F46A35;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover input::-moz-placeholder {
  margin-left: 100px;
}
.limits .wrapper .limits_offer_and_form .limits_form form div:last-of-type .cover input::placeholder {
  margin-left: 100px;
}

.lower_slider_cover {
  display: flex;
  justify-content: center;
}
.lower_slider_cover .lower_slider_item {
  text-align: center;
  margin: 251px 0 227px 0px;
}
.lower_slider_cover .lower_slider_item p {
  max-width: 673px;
  margin: 49px 0 48px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
}
.lower_slider_cover .lower_slider_item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
}

.how_2_use .wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how_2_use .wrapper div h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #212121;
  max-width: 687px;
  display: block;
  margin-bottom: 80px;
}
.how_2_use .wrapper div .company_cards {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.how_2_use .wrapper div .company_cards .co_card {
  max-width: 325px;
}
.how_2_use .wrapper div .company_cards .co_card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 26px 0 22px 0;
}
.how_2_use .wrapper div .company_cards .co_card a {
  color: #F46A35;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.how_2_use .wrapper div .company_list {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 81px 49px 161px;
}
.how_2_use .wrapper div .company_list span {
  display: flex;
  width: 275px;
  padding: 40px;
  height: 200px;
  justify-content: center;
  border: 1px solid rgba(33, 33, 33, 0.0823529412);
  align-items: center;
}
.how_2_use .wrapper div .company_list span img {
  height: 50px;
}

.can_do .wrapper > div {
  display: flex;
  justify-content: space-between;
  background-color: rgba(192, 192, 192, 0.0823529412);
}
.can_do .wrapper > div .offer {
  min-width: 600px;
}
.can_do .wrapper > div .offer h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 76px 0 0 48px;
  max-width: 494px;
  margin-bottom: 23px;
}
.can_do .wrapper > div .offer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #212121;
  max-width: 434px;
  padding-left: 48px;
  margin-bottom: 20px;
}
.can_do .wrapper > div .offer div {
  display: flex;
  padding-left: 48px;
  gap: 16px;
  margin-bottom: 63px;
}
.can_do .wrapper > div .offer div .primary {
  background-color: #F46A35;
  border-radius: 10px;
  padding: 13px 32px;
}
.can_do .wrapper > div .offer div .primary a {
  color: #fff;
}
.can_do .wrapper > div .offer div .secondary {
  border-radius: 10px;
  padding: 13px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.can_do .wrapper > div .offer div .secondary a {
  color: #212121;
}
.can_do .wrapper > div .banner {
  max-width: 600px;
}
.can_do .wrapper > div .banner::after {
  content: url(../img/png/banner_lower.png);
  display: block;
  /*width: 100%;*/
}

footer .wrapper {
  background-color: #171717;
}
footer .wrapper .footer_inner_cover {
  display: flex;
  flex-direction: column;
  padding: 122px 53px 121px 48px;
}
footer .wrapper .footer_inner_cover .upper_part {
  display: flex;
  gap: 200px;
  margin-bottom: 100px;
}
footer .wrapper .footer_inner_cover .upper_part .footer_logo::before {
  content: url(../img/svg/footer_logo_BREX.svg);
  display: block;
}
footer .wrapper .footer_inner_cover .upper_part div span, footer .wrapper .footer_inner_cover .upper_part div ul li a {
  font-weight: 400;
}
footer .wrapper .footer_inner_cover .upper_part div span {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
footer .wrapper .footer_inner_cover .upper_part div ul li {
  list-style: none;
}
footer .wrapper .footer_inner_cover .upper_part div ul li a {
  font-size: 14px;
  line-height: 157%;
  color: #bcbdbd;
}
footer .wrapper .footer_inner_cover .middle_part_socials {
  display: flex;
  margin-bottom: 132px;
  align-items: center;
  gap: 192px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks {
  display: flex;
  gap: 8px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .fb, footer .wrapper .footer_inner_cover .middle_part_socials .networks .youtube, footer .wrapper .footer_inner_cover .middle_part_socials .networks .insta, footer .wrapper .footer_inner_cover .middle_part_socials .networks .linkedin, footer .wrapper .footer_inner_cover .middle_part_socials .networks .twitter {
  border: 1px solid rgba(192, 192, 192, 0.2509803922);
  border-radius: 4px;
  padding: 4px;
  align-self: center;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .fb::before {
  content: url(../img/svg/socials_fb.svg);
  display: block;
  width: 20px;
  padding: 4px 0 0 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .youtube::before {
  content: url(../img/svg/socials_youtube.svg);
  display: block;
  width: 20px;
  padding: 4px 0 0 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .insta::before {
  content: url(../img/svg/socials_instagram.svg);
  display: block;
  width: 20px;
  padding: 4px 0 0 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .linkedin::before {
  content: url(../img/svg/socials_linkedin.svg);
  display: block;
  width: 20px;
  padding: 4px 0 0 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .networks .twitter::before {
  content: url(../img/svg/socials_twitter.svg);
  display: block;
  width: 20px;
  padding: 4px 0 0 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .stores {
  margin-top: 4px;
}
footer .wrapper .footer_inner_cover .middle_part_socials .stores img {
  margin-right: 24px;
}
footer .wrapper .footer_inner_cover .lower_part p, footer .wrapper .footer_inner_cover .lower_part span {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
}
footer .wrapper .footer_inner_cover .lower_part p {
  color: #bcbdbd;
  margin-bottom: 8px;
}
footer .wrapper .footer_inner_cover .lower_part span {
  color: #fff;
}

.owl-carousel {
  padding: 80px 0 48px 0;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(33, 33, 33, 0.3137254902);
  margin-right: 12px;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #F46A35;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
}/*# sourceMappingURL=preproc.css.map */