/* === BREX, Hillel Frontend Course Final Project === */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* === Used Variables === */
$global_font: "Roboto";
$accent_color: #F46A35;
$btn_border_radius: 10px;
$btn_padding: 13px 32px;
/* === Used Variables END === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $global_font;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header .wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px;

    > a {
        margin-right: 30px;
    }

    nav {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            gap: 38px;

            li {
                list-style: none;
            }
        }
    }
    span {
        display: flex;

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;

                &:last-of-type {
                    background: $accent_color;
                    border-radius: 10px;
                    padding: 7px 26px;
                    margin-left: 30px;
                }
            }
        }
    }
    nav ul li a, span ul li a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #212121;
    }
}

/*.brex_offer_and_banner, .slideshow, .solutions {
    max-width: 1200px;
    padding: 0px 24px;
}*/

.brex_offer_and_banner .wrapper > div {
    display: flex;
    justify-content: space-between;
    
    .offer {
        min-width: 600px;

            h2 {
                font-family: $global_font;
                font-weight: 400;
                font-size: 40px;
                line-height: 130%;
                letter-spacing: 0.04em;
                color: #212121;
                padding: 76px 0 0 48px;
                max-width: 494px;
                margin-bottom: 23px;
            }
            div {
                display: flex;
                padding-left: 48px;
                gap: 8px;
                margin-bottom: 63px;

                    .primary {
                        background-color: $accent_color;
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                            a {
                                color: #fff;
                            }
                    }
                    .secondary {
                        border-radius: $btn_border_radius;
                        padding: $btn_padding;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        background-color: #fff;
                            a {
                                color: #212121;
                            }
                    }
                }
            .offer_description {
                display: flex;
                flex-direction: column;
                padding-top: 33px;
                padding-bottom: 31px;
                margin-bottom: inherit;

                    h4 {
                        margin-bottom: 9px;
                    }

                    p {
                        max-width: 456px;
                        font-family: $global_font;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 143%;
                        letter-spacing: 0.02em;
                        color: #212121;
                        margin-right: 104px;
                        margin-bottom: 7px;
                    }
                    
                    a {
                        color: $accent_color;
                    }
            }
    }
    .banner {
        max-width: 600px;

        &::after {
            content: url(../img/jpg/banner.jpg);
            display: block;
            /*width: 100%;*/
        }
    }
}

.solutions .wrapper {
    h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #212121;
        margin-top: 160px;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 168%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #212121;
        margin-bottom: 48px;
    }
}

.inner_wrapper {
    display: flex;
    margin: 16px 16px 72px 16px;
    justify-content: center;

    .enterprise {
        &::after {
            content: url(../img/jpg/banner_brex_for_enterprise.jpg);
            display: block;
        }
        > div {
            h4, p, a {
                color: #fff;
            }
        }
    }
    .startup {
        &::after {
            content: url(../img/jpg/banner_brex_for_startup.jpg);
            display: block;
        }
        > div {
            h4, p, a {
                color: #212121;
            }
        }
    }
    .enterprise, .startup {
        position: relative;
        > div {
            position: absolute;
            max-width: 600px;
            text-align: center;
            left: 52px;
            
            h4 {
                font-size: 32px;
                line-height: 125%;        
                margin-top: 48px;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
                line-height: 150%;
                max-width: 476px;
                margin-bottom: 35px;
            }
            h4, p {
                font-weight: 400;
                letter-spacing: 0.02em;
                text-align: center;
            }
            span {
                text-align: center;
                position: inherit;
                a {
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                }
            }
        }
    }
}

.limits .wrapper {
    background-color: #f9f9f9;
    padding: 80px 48px;

    .limits_offer_and_form {
        display: flex;
        flex-direction: column;
        
            .limits_offer {
                display: flex;
                flex-direction: column;
                max-width: 920px;
                h3, p {
                    font-weight: 400;
                    color: #212121;
                }
                h3 {
                    font-size: 36px;
                    line-height: 144%;
                    letter-spacing: 0.04em;
                }
                p {
                    
                    font-size: 20px;
                    line-height: 160%;
                    letter-spacing: 0.02em;
                    max-width: 850px;
                    margin-bottom: 12px;
                }
                span {
                    border: 1px solid #212121;
                    border-radius: $btn_border_radius;
                    padding: 13px 21px;
                    max-width: 203px;
                    margin-bottom: 40px;
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 157%;
                        color: #212121;
                    }
                }
            }
            .limits_form {
                background-color: #fff;
                width: 100%;
                border: 1px solid #21212120;
                border-radius: 12px;
                h3 {
                    font-weight: 600;
                    font-size: 32px;
                    text-align: center;
                    padding-top: 104px;
                }
                form {
                    margin: 30px 212px 106px 265px;
                    /*border: #F46A35 1px solid;*/
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        
                        img {
                        border-radius: 50%;
                        width: 135px;
                        }
                        span {
                            font-size: 14px;
                            font-weight: 600;
                            color: #212121;
                            text-align: center;
                            padding: 16px 0 4px 0px;
                            
                            &:last-of-type {
                                font-size: 12px;
                                color: #21212150;
                                padding-top: inherit;
                            }
                        }
                        &:last-of-type {
                            .cover {
                                position: relative;
                                &::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_travel.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(2)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_offsites.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(3)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_procurement.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:nth-child(4)::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_stipendis.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                &:last-child::before {
                                    position: absolute;
                                    pointer-events: none;
                                    content: url(../img/svg/form_icon_budget.svg);
                                    width: 16px;
                                    height: 16px;
                                    display: block;
                                    top: 8px;
                                    left: 12px;
                                }
                                input {
                                    min-width: 416px;
                                    max-width: inherit;
                                    padding: 12px 18px 12px 48px;
                                    border: 1px solid #c0c0c030;
                                    margin-bottom: 8px;
                                    border-radius: 8px;
                                        // &:last-of-type {
                                        //     margin-bottom: inherit;
                                        // }
                                        &:hover {
                                            border: 1px solid #21212170;
                                            box-shadow: 4px 4px 4px #21212130;
                                        }
                                        &:focus {
                                            border: 1px solid $accent_color;
                                            box-shadow: 4px 4px 4px $accent_color;
                                        }
                                        &::placeholder {
                                            margin-left: 100px;
                                        }
                                    }
                            }
                            
                        }
                    }
                }
            }
    }
}

.lower_slider_cover {
    display: flex;
    justify-content: center;
    .lower_slider_item {
        text-align: center;
        margin: 251px 0 227px 0px;
        p {
            max-width: 673px;
            margin: 49px 0 48px 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 109%;
        }
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.02em;
        }
    }
}
